.excerpt {

  margin-bottom: 1em;
  text-decoration: none;
  text-align: center;
  color: #111111;

  .image {
    max-width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
    margin-bottom: 0.5em;
  }

  .title {
    margin: 0;
  }

  .text {
    margin: 0;
  }

  &:hover, &:active, &:focus {
    color: #111111;
    text-decoration: none;
    .image {
      transform: scale(1.05)
    }
  }

}
